<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create a new article</h1>

    <div class="form-control"
        [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
        <label for="title">Title:</label>
        <input id="title" type="text" formControlName="title"/>
        <div 
            *ngIf="form.get('title').touched && form.get('title').invalid"
            class="validation">
            <small *ngIf="form.get('title').errors.required">Enter title field</small>
        </div>
    </div>

    <div class="form-control">
        <label>Article content:</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    <div class="form-control"
        [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
        <label for="author">Author:</label>
        <input id="author" type="text" formControlName="author"/>
        <div 
            *ngIf="form.get('author').touched && form.get('author').invalid"
            class="validation">
            <small *ngIf="form.get('author').errors.required">Enter author field</small>
        </div>
    </div>

    <button 
        [disabled]="form.invalid"
        type="submit" 
        class="btn btn-block btn-dark">Create post</button>
</form>
